.remove-btn {
  margin-right: 1.7rem;
}

.fade-enter {
  opacity: 0.01;
  color: brown;
  z-index: 10;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
  
  color: blue;
 
}
.fade-appear{
  color: blueviolet;
}
.fade-exit {
  opacity: 1;
 
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
  
}

.category-list li {
  display: -webkit-box;
  color: #32c946fc
}