.remove-btn {
  margin-right: 1.7rem;
}
.budgetBox{
  height: 230px;
  margin-bottom: 80px;
    width: 90%;
    border: 2px solid rgb(221, 221, 221);
}
ul li {
  display: flex;
}
.overdue{
  stroke:#c73e41;
}
.nooverdue{
  stroke: #3e98c7;
}
.expense-modal{
  width: -webkit-fill-available;
}
.content{
  height: 90%;
}
.table{
  box-sizing: content-box
}
.table tbody, .table thead{
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}
.table td , .table th{
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  width: 15rem;
}
.navbarnav{
  width: 17% !important;
  border-right-style:ridge ;
}
.navbar{
  display: inherit;
  margin-top: 2rem;
  padding: 0rem !important;
  margin-right: 0px !important;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  border-bottom-style: ridge;
}
.isActiveFalse{
  text-decoration-line: line-through;
  color: chocolate;
}
.fade-enter {
  opacity: 0.01;
  color: brown;
  z-index: 10;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
  
  color: blue;
 
}
.fade-appear{
  color: blueviolet;
}
.fade-exit {
  opacity: 1;
 
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
  
}

.category-list li {
  display: -webkit-box;
  color: #32c946fc
}