.remove-btn {
  margin-right: 1.7rem;
}

.fade-enter {
  opacity: 1;
  color: brown;
  z-index: 10;
}
.fade-enter-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
  text-decoration-line: line-through;
  color: blue;
  z-index: 10;
}
.fade-appear{
  color: blueviolet;
}
.fade-exit {
  opacity: 0;
  z-index: 9; 
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
  
}
